@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';

main{
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}

html{
    background: var(--primary-color) url('./assets/pokebola.png') repeat 5px 5px;
    font-family: 'Roboto', sans-serif;
}